# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual environments
venv/
.env/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.code-workspace

# Build / Dist
build/
dist/
*.spec

# Logs
logs/
*.log


# Matplotlib cache
.matplotlib/

# Local config
*.local.json

# PyInstaller output
*.exe
!RSA_Digital_Signature_With_Icon.exe

# Coverage / Test
.coverage
htmlcov/
pytest_cache/


